node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
documents/_extract/
documents/*.xlsx
.vscode/*
!.vscode/extensions.json
~$*
.env
*.lnk
.vercel

/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
